.imgStyle {
  @apply rounded-l-md bg-gradient-to-r from-blue-500 to-indigo-500;
  position: relative;
  overflow: hidden;
}

.backgroundImg {
  background: url("../../../../public/assets/login-image.jpeg") no-repeat;
  background-size: 150%;
  background-position: 70% 60%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
}
